@import "tailwindcss";

@theme {
  --color-divar: #a62626;
  --font-vazir: "Vazirmatn", system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  background-color: #f2f2f7;
  color: #1c1c1e;
  font-family: var(--font-vazir);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === جادوی مخفی کردن اسکرول‌بار === */
.hide-scrollbar {
  -ms-overflow-style: none;  /* برای مرورگر Edge و IE */
  scrollbar-width: none;  /* برای مرورگر Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* برای مرورگرهای Chrome, Safari, Opera */
}

/* مخفی کردن اسکرول کل صفحه */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility shadow-ios {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.04);
}